html body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

header
{
	display: flex;
    justify-content: space-between;
    align-items: center;
	border: 3px solid black;
	margin: 2%;
	padding-left: 2.5%;
	padding-right: 2.5%; 
}

.main
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.dial
{
	position: relative;
	margin: center;
	height: 500px;
	width: 500px;
	top: 50%;
	background-image: url(../images/dial.jpg) ;
	background-size: 500px 500px;
}

#map
{
	height: 420px;
	width: 800px;
}

#hourPointer, #minutePointer, #secondPointer
{
	position: absolute;
	width: 2%;
	bottom: 50%;
	left: 49%;
	transform-origin: bottom center;
	transform: rotate(0deg);
	background-color: #0000AA;
}

#hourPointer
{
	height: 15%;
}
#minutePointer
{
	height: 40%;
}
#secondPointer
{
	height: 45%;
	width: 1%;
	left: 49.5%;
	background-color: #666000;
}

#date
{
	position: absolute;
	font-size: 50px;
	top:90%;
	left:25%;
	word-wrap: inherit;
}

#AM, #PM
{
	position: absolute;
	font-size: 80px;
	top: 37%;
	left: 37%;
	opacity: 0.3;
	z-index: 0;
}

#logo
{
	position: absolute;
	height: 12%;
	width: 12%;
	top:71%;
	left:44%;
}

#menu
{
	
}


option
{
	
	font-size: 20px ;
}